@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-primary-green: #3c9245;
  --color-primary-yellow: #fcb404;
  --color-primary-pink: #f783a3;
  --color-primary-red: #f94315;

  --color-accent-green: #dbf0dd;
  --color-accent-yellow: #fef0cd;
  --color-accent-pink: #fde2ea;
  --color-accent-red: #fdbbaa;

  --color-white: #f6f6f3;
  --color-pure-white: #ffffff;
  --color-gray: #cfcdbf;
  --color-gray-light: #e4e3db;
  --color-black: #1d1c16;

  --font-sans: var(--font-figtree), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-bagel-fat-one), ui-sans-serif, system-ui,
    sans-serif;

  --breakpoint-3xl: 1720px;
}

:root {
  --background: var(--pure-white);
  --foreground: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--pure-white);
    --foreground: var(--black);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
